/*   Login   */
.login-container {
  background-color: #d9d9d9;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100vh;
  flex-direction: column;
  gap: 40px;
}

.login-form-container {
  background-color: white;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-text-input {
  width: 457px;
  height: 40;
  margin: 12px;
}

.login-btn {
  background-color: black;
  color: white;
}

.logo {
  color: maroon;
}

.post-detail-container {
  background-color: #d9d9d9;
  display: flex;
  /*  align-items: stretch; */
  /*   justify-content: space-around; */
  gap: 50px;
  flex: 1;
  flex-direction: row;
}

.post-detail {
  background-color: white;
  /*   justify-content: space-around; */
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-top: 30px;
  padding-right: 20px;
}

.post-img {
  /*  width: 600px;
    height: 640px; */
  object-fit: cover;
  margin-top: 65px;
  margin-bottom: 65px;
  margin-left: 104px;
  display: "flex";
  justify-content: "center";
  align-items: "center";
  background-color: "red";
  filter: drop-shadow(0px 4px 4px rgba(5, 14, 14, 2, 0.25));
}

.moreActionGrp {
  display: flex;
  justify-content: end;
  gap: 10px;
  align-items: center;
  /* top: 80px; */
  height: fit-content;
}

.post-detail-content {
  text-align: left;
  padding-left: 35px;
  padding-right: 35px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
  justify-content: flex-start;
  overflow-y: auto;
  margin-bottom: 35px;
}

.comments-list {
  display: flex;
  flex-direction: column;
  /* margin-top: 10px; */
}

.comment-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  align-items: space-around;
  justify-content: space-around;
  width: 100%;
  gap: 20px;
}

.header-section {
  display: flex;
  flex-direction: row;
  height: fit-content;
  justify-content: space-between;
  margin: 20px;
  padding-left: 15px;
  text-align: left;
}

.action-list {
  display: flex;
  position: absolute;
  top: 55px;
  right: 55px;
}

/*   Post List   */
.post-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* .pagination {
  margin: 25px;
} */

.fab-style {
  position: "absolute";
  bottom: 16;
  right: 16;
}

.modal-buttons {
  display: flex;
  gap: 10px;
  justify-content: flex-end;
}

.modal-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.modal-img-container {
  display: flex;
  justify-content: space-between;
  flex: 1;
  flex-direction: row;
  gap: 10px;
  width: 100%;
  height: 100%;
  margin-bottom: 30px;
}

/* post detail */
.comment-item1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.comment-item2 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.user-detail {
  word-wrap: "break-word";
  white-space: "normal";
}

.post-img {
  width: 280px;
  height: 280px;
  color: gray;
  margin: 15px;
  border-radius: 15px;
}
